Repository yuthstyle88/ibrowe-browser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brave/devops-team, @brave/uplift-approvers, @bridiver

.github/CODEOWNERS:

* @brave/devops-team
/.github/ISSUE_TEMPLATE/ @brave/uplift-approvers
/.github/ISSUE_TEMPLATE.md @brave/uplift-approvers
/.github/PULL_REQUEST_TEMPLATE.md @brave/uplift-approvers
/CHANGELOG_* @brave/uplift-approvers
lib/util.js @bridiver
lib/build.js @bridiver

init
  package-lock.json
  scripts/copyFileToBrave.js
  scripts/init.js
Owners: @brave/devops-team

add updatePatches to ibrowe browser
  scripts/generatePatches.js
Owners: @brave/devops-team

add branch build android v1.76.75
  package.json
Owners: @brave/devops-team

add branch build android v1.76.75
  package.json
Owners: @brave/devops-team

Update package.json
  package.json
Owners: @brave/devops-team

init
  scripts/init.js
Owners: @brave/devops-team

update 1.77.101
  package.json
Owners: @brave/devops-team

update
  scripts/init.js
Owners: @brave/devops-team

update
  lib/logging.js
Owners: @brave/devops-team

update
  docs/source/_static/Brave.svg
  docs/source/_static/brave-logotype-dark.svg
  docs/source/_static/brave-logotype-light.svg
  docs/source/_static/brave-release.svg
  docs/source/_static/product_logo_32.png
  docs/source/_static/product_logo_name_48.png
  docs/source/conf.py
  docs/source/index.rst
Owners: @brave/devops-team

update
  .gitignore
Owners: @brave/devops-team

update
  README.md
Owners: @brave/devops-team

update
  package.json
Owners: @brave/devops-team

update
  CHANGELOG_iOS.md
Owners: @brave/uplift-approvers

update
  CHANGELOG_ANDROID.md
  CHANGELOG_DESKTOP.md
Owners: @brave/uplift-approvers

update
  CHANGELOG_ANDROID.md
  CHANGELOG_DESKTOP.md
  CHANGELOG_iOS.md
  docs/source/_static/iBrowe.svg
  package-lock.json
  package.json
  scripts/applyIBrowePatches.js
  scripts/generatePatches.js
Owners: @brave/uplift-approvers, @brave/devops-team

update
  scripts/applyIBrowePatches.js
  scripts/generatePatches.js
  scripts/init.js
Owners: @brave/devops-team

update
  package-lock.json
  package.json
Owners: @brave/devops-team

update
  scripts/init.js
Owners: @brave/devops-team

update
  package.json
Owners: @brave/devops-team

update
  src/temp
Owners: @brave/devops-team

Create .gitkeep
  src/.gitkeep
Owners: @brave/devops-team

Update copy script
  lib/util.js
  scripts/init.js
Owners: @bridiver, @brave/devops-team

Update copy script
  lib/util.js
  package-lock.json
  package.json
Owners: @bridiver, @brave/devops-team

Update copy script
  package.json
Owners: @brave/devops-team

init
  package.json
Owners: @brave/devops-team

Update patchGenerates script
  package.json
Owners: @brave/devops-team

Update Copy script
  lib/util.js
Owners: @bridiver

ีupdate js
  package.json
  scripts/init.js
Owners: @brave/devops-team

update
  scripts/init.js
Owners: @brave/devops-team

Update init.js
  scripts/init.js
Owners: @brave/devops-team

update
  scripts/init.js
Owners: @brave/devops-team

Add CopyImage script
  scripts/python/copy_images.py
Owners: @brave/devops-team

Update generatePatches
  scripts/generatePatches.js
Owners: @brave/devops-team

Update package.json
  package.json
Owners: @brave/devops-team

Update package.json
  package.json
Owners: @brave/devops-team

update script
  package.json
  scripts/updatePatches.js
Owners: @brave/devops-team

remove unuse
  lib/logging.js
  lib/util.js
  package.json
  scripts/applyIBrowePatches.js
  scripts/init.js
Owners: @brave/devops-team, @bridiver

update updatePatches
  scripts/updatePatches.js
Owners: @brave/devops-team

update script init for win build
  scripts/init.js
Owners: @brave/devops-team
